html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background: 0 0;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

input[type='search'] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #fa9632;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: 700;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

html {
    scroll-behavior: smooth;
}

.gigantic,
.huge,
.large,
.bigger,
.big,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fa9632;
    font-weight: bold;
}

.gigantic {
    font-size: 110px;
    line-height: 1.09;
    letter-spacing: -2px;
}

.huge,
h1 {
    font-size: 68px;
    line-height: 1.05;
    letter-spacing: -1px;
}

.large,
h2 {
    font-size: 42px;
    line-height: 1.14;
}

.bigger,
h3 {
    font-size: 18px;
    line-height: 1.38;
    text-transform: uppercase;
}

.big,
h4 {
    font-size: 22px;
    line-height: 1.38;
}

.p-size,
h5 {
    font-size: 16px;
    line-height: 1.38;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    text-transform: uppercase;
}

.small,
small {
    font-size: 10px;
    line-height: 1.2;
}

p {
    margin: 0 0 20px 0;
    color: #fa9632;
    font-size: 16px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 10px 0 30px;
    height: 0;
}

a {
    color: #fa9632;
    text-decoration: none;
    outline: 0;
}

a:hover,
a:focus {
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    color: #686868;
}

::selection {
    background: #686868;
}

::-moz-selection {
    background: #686868;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: #686868;
}

body {
    background: #000;
    font-size: 14px;
    line-height: 1.6;
    font-family: 'Open Sans' sans-serif;
    color: #2e2d33;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/home_IMG_1414.jpg);
    background-size: cover;
    z-index: -1;
    clear: both;
}

header h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    color: #fa9632;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin-bottom: 20px;
    clear: both;
    padding-top: 100px;
}

header h1 span {
    display: inline-block;
    padding: 0.2em 0.5em;
    border: white solid 10px;
}

header .kicker {
    text-align: center;
    font-weight: 700;
    color: #fa9632;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

header .symbol-container {
    display: flex;
    flex-flow: row;
    height: 100vh;
    max-width: 70%;
    margin: auto;
    align-items: center;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
}

header .symbol-container .symbol {
    width: 100%;
}

header .symbol-container .symbol h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 28px;
}

.spacer {
    height: 100vh;
}

.spacer-sml {
    height: 40px;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.logo {
    height: 200px;
    width: 200px;
    background: url(../img/OX_Logo_MAX_sml.png);
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    background-size: 162%;
    background-repeat: no-repeat;
    background-position: center center;
    border-right: #fa9632 dashed 1px;
    margin: auto;
    cursor: pointer;
    z-index: 3;
}

.menu-close {
    display: block;
    position: fixed;
    top: -30px;
    margin-left: 162px;
    color: #000000;
    font-size: 50px;
    font-weight: 300;
    cursor: pointer;
}

.menu-close:hover {
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    color: #686868;
}

.icon-container {
    display: block;
    position: fixed;
    bottom: 0px;
    width: 200px;
    border-top: #fa9632 dashed 1px;
}

.icon-container .icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 40px;
    text-align: center;
}

.icon-container .icons .fa {
    font-size: 24px;
    line-height: inherit;
}

.icon-container .icons .icon:hover {
    color: #000;
    background-color: #fa9632;
}

.icon-container .icons .icon-middle {
    border-left: #fa9632 dashed 1px;
    border-right: #fa9632 dashed 1px;
}

.icon-container .icons .icon-middle:hover {
    color: #000;
    background-color: #fa9632;
}

.toggler {
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
    color: #fa9632;
    line-height: 0;
    cursor: pointer;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    position: fixed;
    top: 40px;
    left: 20px;
    z-index: 1;
}

.toggler .menu-text {
    font-size: 12px;
    text-transform: uppercase;
    position: fixed;
    top: 42px;
    padding-left: 25px;
}

.toggler .name-menu-text {
    text-transform: uppercase;
    position: fixed;
    padding-left: 2px;
    top: 25px;
    font-size: 14px;
}

.toggler:hover {
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    color: #686868;
}

.page-content {
    position: relative;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    width: 100%;
    z-index: 0;
}

.sidebar {
    position: fixed;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    top: 0;
    left: -201px;
    width: 200px;
    height: 100%;
    background: #000;
    border-right: #fa9632 dashed 1px;
    z-index: 1;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    text-align: center;
    border-bottom: #fa9632 dashed 1px;
}

.sidebar ul li {
    color: #fa9632;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    list-style-type: none;
    padding: 10px 0 10px 0;
    border-top: #fa9632 dashed 1px;
    background-color: #000;
}

.sidebar ul li:hover {
    color: #000;
    background-color: #fa9632;
    font-weight: 700;
}

#sidebartoggler {
    display: none;
}

#sidebartoggler:checked+.page-wrap .sidebar {
    left: 0px;
}

#sidebartoggler:checked+.page-wrap .page-content {
    width: 100% -200px;
    margin-left: 100px;
    margin-right: 0px;
}

#sidebartoggler:checked+.page-wrap .symbol-container {
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    max-width: 90%;
    margin-right: 50px;
}

#sidebartoggler:checked+.page-wrap .about-container {
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    padding-right: 0px;
}

#sidebartoggler:checked+.page-wrap .lockup {
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    padding-right: 200px;
}

#sidebartoggler:checked+.page-wrap .popup-content {
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    margin-left: 200px;
    margin-right: 0px;
}

#sidebartoggler:checked+.page-wrap .popup-close {
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    right: 0px;
}

footer {
    background-color: #000;
    border-top: #fa9632 dashed 1px;
    height: 41px;
}

footer .lockup {
    padding: 9px;
    text-align: center;
    margin-bottom: 0px;
}

footer .lockup .copyright {
    font-size: 10px;
    color: #fa9632;
    text-transform: uppercase;
}

section {
    border: #fa9632 dashed 1px;
    z-index: 3;
    background-color: #000;
    margin: 0 120px 0 120px;
}

section .about-container {
    padding-top: 11px;
    padding-bottom: 20px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    max-width: 90%;
    margin: auto;
    z-index: 3;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
}

.menu-container img {
    width: 100%;
    border: #fa9632 dashed 1px;
}

.menu-container h3 {
    padding: 10px 0 10px 0;
    font-size: 12px;
    text-align: center;
    border: #fa9632 dashed 1px;
}

.menu-container h3:hover {
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    color: #686868;
}

.menu-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    grid-row-gap: 0;
}

h4.fnb {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 15px 0;
}

p.cat {
    padding: 5px 0 5px 0;
    margin: 5px 0 15px 0;
    text-align: center;
    border-top: #fa9632 dashed 1px;
    border-bottom: #fa9632 dashed 1px;
}

h5.name {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 8px;
    margin-bottom: 0;
    border-top: #fa9632 dashed 1px;
}

p.sub-name {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 8px;
    margin-bottom: 0;
    margin-top: 8px;
    border-top: #fa9632 dashed 1px;
}

p.descript {
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    margin-bottom: 15px;
}

h5.price {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

h5.price-single {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

h5.price-solo {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 0 8px 0;
    margin-bottom: 23px;
    border-top: #fa9632 dashed 1px;
    border-bottom: #fa9632 dashed 1px;
}

.ent-container {
    display: grid;
    grid-gap: 0.75rem;
    grid-template-columns: repeat(4, 1fr);
}

.ent-container img {
    width: 100%;
    border: #fa9632 dashed 1px;
}

.ent-container h3 {
    margin-top: 0px;
    font-size: 12px;
}

.img-container {
    display: grid;
    grid-gap: 0.75rem;
    grid-template-columns: repeat(3, 1fr);
}

.img-container img {
    width: 100%;
    border: #fa9632 dashed 1px;
}

.img-container h3 {
    margin-top: 0px;
    font-size: 12px;
}

.location-container {
    display: grid;
    grid-gap: 0.75rem;
    grid-template-columns: repeat(2, 1fr);
}

.wrap {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    border: 1px dashed #fa9632 !important;
}

.wrap iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.cnt {
    display: grid;
    grid-gap: 0.75rem;
    grid-template-columns: repeat(1, 1fr);
}

.cnt span:hover {
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    color: #686868 !important;
}

.popup {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.popup .popup-content {
    margin: 0 120px 0 120px;
    padding: 12px 40px 0 40px;
    border-left: #fa9632 dashed 1px;
    border-right: #fa9632 dashed 1px;
    background: black;
    height: 100%;
    overflow-y: scroll;
}

.popup .popup-close {
    display: block;
    position: fixed;
    top: -30px;
    right: 120px;
    color: #000;
    font-size: 50px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.popup:hover {
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    color: #686868 !important;
}

.popup:target {
    display: block;
}

.price {
    position: relative;
    top: -12px;
}

@media (max-width: 800px) {
    .menu-content {
        grid-template-columns: repeat(1, 1fr);
    }
    .popup .popup-content {
        margin-right: 0px;
    }
    .popup .popup-close {
        right: 0px;
        color: #000;
    }
    section {
        margin-right: 0px;
    }
    section .ent-container {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(3, 1fr);
    }
    section .ent-container h3 {
        margin: 0;
    }
}

@media (max-width: 550px) {
    header .symbol-container {
        max-width: 100%;
        margin: 0 20px 0 20px;
    }
    header .symbol-container .symbol h3 {
        font-size: 14px;
    }
    section {
        margin-left: 0px;
    }
    .popup .popup-content {
        margin-left: 0px;
    }
    .popup .popup-close {
        right: 0px;
        color: #000;
    }
    section .about-container {
        max-width: 100%;
        margin: 0 20px 0 20px;
    }
    section .about-container h3 {
        margin-top: 50px;
    }
    section .about-container .menu-container {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(2, 1fr);
    }
    section .about-container .menu-container h3 {
        margin: 0;
    }
    section .about-container .ent-container {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(2, 1fr);
    }
    section .about-container .ent-container h3 {
        margin: 0;
    }
    section .about-container .img-container {
        grid-template-columns: repeat(2, 1fr);
    }
}