---
import { Icon } from "astro-iconify";
---

<div>
    <nav>
        <ul>
            <a href="/" aria-label="Home">
                <li>
                    <Icon name="ph:house-simple-bold" />
                </li>
            </a>
            <a href="/about" aria-label="About">
                <li>
                    <Icon name="ion:information-sharp" />
                </li>
            </a>
            <a
                href="mailto:%6F%78%65%6E%66%72%65%65%79%6B%40%67%6D%61%69%6C%2E%63%6F%6D?subject=Web Enquiry"
            >
                <li><Icon name="ic:twotone-alternate-email" /></li>
            </a>
        </ul>
    </nav>
</div>
