---
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";

const { title, description } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead />
    </head>
    <body>
        <main>
            <header>
                <Nav />
            </header>
            <section>
                <slot />
            </section>
        </main>
    </body>
</html>
